@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --black-shade: #231f20;
  --light-shade: #ad974f;
  --blue-shade: rgb(55, 122, 221);
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--black-shade);
  color: var(--light-shade);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
/* 
main {
  min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3rem;
}
 */

#main{
  background: url('./images/xps-EzYq1HOl5_8-unsplash.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.split{
  position: absolute;
  left: 0 ;
  top: 0;
  background: url('./images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg') no-repeat center center/cover;
  height: 100%;
  width: 50%;
}

#main::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #231f207a;
  z-index: -1;
}
.modal {
  display: none;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(247, 247, 247, 0.5);
}

.main-header {
  /* background: #231f20; */
  width: 100%;
  /* height: 36px; */
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 6;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  width: 3.1rem;
  cursor: pointer;
  border: none;
  position: fixed;
  top: 0;
  left: 5px;
  border-radius: 50%;
  background: rgb(10, 80, 211);
  margin: .5rem 0 .5rem 1rem;
  /* padding-top: 0;
  padding-bottom: 0; */
  padding: 3px .5rem 3px .5rem;
  /* vertical-align: middle; */
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.3rem;
  /* background: black; */
  display: block;
  margin: 0.4rem auto;
  border-radius: 50px;
  background: rgb(252, 237, 237);
  transition: all .3s ease-in;
}

.toggle-button__bar:nth-child(2){
  width: 60%;
}

.toggle-button:hover .toggle-button__bar:nth-child(1),
.toggle-button:hover .toggle-button__bar:nth-child(3){
  width: 60%;
} 

.toggle-button:hover .toggle-button__bar:nth-child(2){
  width: 100%;
}


.main-header__brand {
  height: 1.5rem;
  display: inline-block;
}

.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
}

.main-nav {
  display: none;
}

.main-header img {
  margin: 0 0.5rem;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  align-items: center;
  list-style: none;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  /* color: #010f05; */
  color: #ffffff;
  padding: 0.2rem 0;
  margin: 0 0rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

.mobile-nav__items{
  width: 100%;
}


.mobile-nav__item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.445);
  padding: .8rem 0 ;
  margin: 2.5rem 0 ;
}

.mobile-nav__items {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}


.main-nav__item a:hover,
.mobile-nav__item a:hover {
  color: rgb(3, 3, 41);
}

#closeMobileNav {
  margin: 1rem;
  display: inline-block;
  text-transform: uppercase;
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem;
  color: #f4f4f4;
  font-weight: bolder;
  cursor: pointer;
  font-size: 1rem;
  background: var(--blue-shade);
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.466);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav__item {
  margin: 4rem 1rem;
}

/* .mobile-nav__item {
  margin: 4rem 1rem;
} */
.main-nav__item--cta {
  border-radius: 15%;
  /* background-color: red; */
  padding: -1rem !important;
  height: 3rem;
}

.main-nav__item--cta a {
  margin-top: 1rem;
}

/* .mobile-nav {
  display: none;
} */

.mobile-nav{
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: rgb(62, 118, 170);
  color: #f4f4f4;
  height: 100%;
  width: 50%;
  box-shadow: 0 2px 20px 20px rgba(0, 0, 0, 0.555);
  transform: translateX(-110%);
  transition: transform .25s ease-in;
}
/* navigation bar slide */
.navSlide{
  transform: translateX(0);
}

#closeBtn {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.829);
  position: fixed;
  right: 15px;
  top: 5px;
  margin: 0;
  /* padding-right: 2rem; */
  font-weight: 600;
  padding: 1rem 1rem;
  border: none;
  display: none;
  cursor: pointer;
  color: #f4f4f4;
  border-radius: 5%;
  z-index: 10;
  transition: all .3s ease-in;
  border-radius: 50px;
}

#closeBtn:hover{
  background: rgb(255, 255, 255);
  color: black;
}


.jumbotron {
  position: absolute;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.384);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(3, 3, 3, 0.658);
  text-align: center;
  margin: 0 1rem;
  width: 80%;
}

.jumbotron h1 {
  margin: 0;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.jumbotron p {
  color: #d3d7da;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

main {
  background: #231f20;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-footer__links {
  list-style: none;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin:.3rem 0;
}

.main-footer__link a {
  text-decoration: none;
  color: #f4f4f4;
}

.main-footer {
  background: black;
  padding: 2rem;
  align-self: stretch;
}

.main-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(58, 57, 57);
  border-top: 2px solid black;
  height: 5vh;
  margin-top: 3.5rem;
}

.open {
  display: block;
}

label {
  color: #8e793e;
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 425px) {
  Styles .main-footer {
    display: none;
  }
  .main-nav {
    display: none;
  }

  #closeBtn {
    display: none;
  }

  .main-header {
    display: flex;
  }
  .openBlock {
    display: block;
  }
  .openFlex {
    display: flex;
  }
}

@media (min-width: 40rem) {
  /* .main-nav {
    display: flex;
    flex-direction: row;
  } */
  .mobile-nav{
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .mobile-nav{
    width: 20%;
  }
}

#theuser {
  color: #8e793e;
}

*:focus {
  outline: none;
}

/* .red{
  height: 100px;
  width : 100px;
  background: red;
} */

/* media queries for responsiveness of shared elements */
@media(min-width: 300px ){
  .main-header{
    display: inline-block;
  }
}

/* navbar responsive styling */
@media (max-width: 850px) and (max-height: 450px){
  .mobile-nav__item{
    padding: .4rem 0 ;
    margin: 1rem 0 ;
  }
}

@media (max-width: 750px) and (max-height: 450px){
  .mobile-nav__item{
    padding: .4rem 0 ;
    margin: .8rem 0 ;
  }
}

@media(max-width: 650px) and (max-height: 450px){
  .mobile-nav{
    height: 100%;
  }
  #closeMobileNav {
    margin-top : .5rem;
  }
  .mobile-nav__items{
    margin-top: 0;
  }
  .mobile-nav__item{
    padding: .4rem 0 ;
    margin: 1rem 0 ;
  }
}

@media(max-width: 660px) and (max-height: 300px){
  .mobile-nav{
    height: 100%;
  }
  #closeMobileNav {

  }
  .mobile-nav__items{
    margin-top: 0;
  }
  .mobile-nav__item{
    padding: .3rem 0 ;
    margin: .7rem 0 ;
  }
  .mobile-nav__item a{
    font-size: 10px;
  }
}

